# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\University\OneDrive - National University of Kyiv Mohyla Аcademy\1_course_2trim\Algorithms\Laboratory1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
